/*
Visual ARIA Bookmarklet (Revision: 11/04/2019)
Copyright 2019 Bryan Garaventa (http://whatsock.com/training/matrices/visual-aria.htm)
Part of the ARIA Role Conformance Matrices, distributed under the terms of the Open Source Initiative OSI - MIT License
*/

*[aria-label]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] aria-label=' attr(aria-label) ' ';
}
*[data-ws-bm-aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] aria-label=' attr(data-ws-bm-aria-label) ' ';
}
*[aria-labelledby]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] aria-labelledby=' attr(aria-labelledby) ' ';
}
*[data-ws-bm-aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] aria-labelledby=' attr(data-ws-bm-aria-labelledby) ' ';
}
*[aria-describedby]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] aria-describedby=' attr(aria-describedby) ' ';
}
*[data-ws-bm-aria-describedby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[aria-label][aria-describedby]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] aria-label=' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[data-ws-bm-aria-label][data-ws-bm-aria-describedby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] aria-label=' attr(data-ws-bm-aria-label) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[aria-labelledby][aria-describedby]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] aria-labelledby=' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[data-ws-bm-aria-labelledby][data-ws-bm-aria-describedby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] aria-labelledby=' attr(data-ws-bm-aria-labelledby) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[aria-haspopup="true"]:focus:after, *[aria-haspopup="menu"]:focus:after, *[data-ws-bm-aria-haspopup="true"]:before, *[data-ws-bm-aria-haspopup="menu"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] (has-menu) (Shift+F10 should open menu) ';
}

*[aria-haspopup="listbox"]:focus:after, *[aria-haspopup="tree"]:focus:after, *[aria-haspopup="grid"]:focus:after, *[aria-haspopup="dialog"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] (has-popup) (' attr(aria-haspopup) ') ';
}

*[data-ws-bm-aria-haspopup="listbox"]:before, *[data-ws-bm-aria-haspopup="tree"]:before, *[data-ws-bm-aria-haspopup="grid"]:before, *[data-ws-bm-aria-haspopup="dialog"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] (has-popup) (' attr(data-ws-bm-aria-haspopup) ') ';
}

*[role]:focus:after {
content: none;
}
*[data-ws-bm-role]:before {
content: none;
}

*[aria-current="true"]:before, *[aria-current="page"]:before, *[aria-current="step"]:before, *[aria-current="location"]:before, *[aria-current="date"]:before, *[aria-current="time"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' [ARIA] Current (' attr(aria-current) ') ';
}

*[aria-hidden="true"] {
visibility: hidden;
}
*:focus {
outline: 3px green inset;
}

*[aria-selected]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' aria-selected is not supported on this element ';
}
*[data-ws-bm-aria-selected]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' aria-selected is not supported on this element ';
}
*[role][aria-selected]:before {
content: none;
}
*[data-ws-bm-role][data-ws-bm-aria-selected]:before {
content: none;
}

span.WS-BM-Loading-Msg {
display: none;
}
